{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<body>  

    <img src="static/zebra-image.jpg" id="home-zebra">

    <a class="home-page-title">WELCOME<span style='color: #E39E1D'>!</span></a>
    <a class="home-page-sub">The fun starts here<span style='color: #0D3B66'>.</span>
        <span style='color: #E39E1D'>.</span>
        <span style='color: #704D8A'>.</span></a>
</body>

<a href="/tickets" class="book-here-link">
    <button class="book-here"> BOOK HERE </button>
</a>

{% endblock %}